
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 70%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}.logo{
	color: rgb(238, 78, 78);
}
ul{
	list-style: none;
}
.footer{
	max-width: 100%;
	background-color: #24262b;
    padding: 70px px;
}
.footer-col{
   width: 20%;
   padding: 0 13px;
}
.footer-col h4{
	font-size: 10px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
	font-size: smaller;
	/* padding-left: 10px; */
	margin-left: 30px;
	padding-top: 60px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 20px;
}
.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
	font-size: smaller;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 6px;
}
.p1{
	color: #bbbbbb;
}
.img{
	width: 250px;
}
.email{
	color: white;
}
.information{
	height: 100px;
	width: 270px;
	background-color: gray;
	float: right;
	
}
.im2{
	width: 50px;
	/* padding: 10px; */
}
.contact{
	display: flex;
	justify-content: center;
}
.im3{
	height: 80px;
	width: 50px;
	padding-right: 20px;
}
.im4{
	height: 100px;
	width: 50px;
	padding-left: 20px;
}
.p2{
	margin: 2%;
	color: rgb(206, 203, 203);
	text-align: center;
	font-size: smaller;
}
.details{
	color: #ffffff;
	background-color: rgb(82, 80, 80);
	font-size: 12px;
	width: 165px;
}
